#pdiv{margin-top: 500px;
    }

#head{color: #00ADB5; font-family: "onest", serif;}




.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #00ADB5;
    border: none;
    color: #EEEEEE;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
    
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  #bot{text-decoration: none; color: #EEEEEE;}



