.header{
    background: #00ADB5;
    height: 100px;
 z-index: 9;
    position: fixed;
    top: 49px;
    left: 0;
    right: 0;
    padding: 10px
 
}

.card {
    box-shadow: 0 4px 8px 0 black ;
    max-width: 300px;
    min-width: 200px;
    max-height: 550px;
    margin: 10px; margin-left: 60px;
    text-align: center;
    background-color: #222831;
    border-radius: 8px;
    color: #00ADB5;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .button {
   display: inline-block;
    background-color: #00ADB5;
    border: none;
    color: #EEEEEE;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 90%;
    transition: all 0.7s;
    cursor: pointer;
    margin: 1px;
    border-radius:8px;
    
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.7s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  #bot{text-decoration: none; color: #EEEEEE;}

  #all{margin-top: 400px;  display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;}

#p{
    height: 100px;
}

#footer{
    background-color: #222831;
    border-radius: 8px;
    width: 400px;
    height: 160px;
    margin-bottom: 20px;
    color: #00ADB5;

}